// Color Variables
$color_log_cabin_approx: #222;
$white: white;
$red: red;
$color_gray_nurse_approx: #e8e8e;
$black_55: rgba(0,0,0,.55);
$color_celeste_approx: #ccc;

$b_color: #DEB887;
$t_color: white;
$j_color: #FFA500;
$h1_color: white;
